/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== CSSV VARIABLES ====================*/

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 142; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==================== HTML ====================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
}

main {
  text-align: center;
}

main h1 {
  margin-top: 10px;
  color: var(--first-color-alt);
  font-size: var(--h1-font-size);
  font-family: "Poppins", sans-serif;
}

main p {
  margin: 30px;
  font-size: var(--h2-font-size);
}

h1 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #1f1f1f;
  font-family: "Poppins", sans-serif;
}

p {
  margin-top: 10px;
  color: #1f1f1f;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

footer {
  font-family: "Poppins", sans-serif;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer li {
  letter-spacing: 2px;
  margin-top: 10px;
}

footer a {
  color: #1f1f1f;
}

footer ul {
  margin-bottom: 20px;
}

/*==================== NAV ====================*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  flex-direction: row;
}

.logo {
  color: var(--first-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: var(--first-color);
}

.nav-links li {
  list-style: none;
  color: white;
}

.nav-links a {
  color: var(--first-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/*==================== HERO ====================*/

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/hero.jpg");

  height: 1000px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--first-color-second);
}
/*==================== MODAL ====================*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  background-color: #1f1f1f;
  border-top: 0px;
}

.tech-list {
  font-size: var(--h3-font-size);
  justify-content: left;
}

.modal-links {
  display: inline;
}

.modal-link {
  display: inline-block;
  align-items: center;
  margin: 20px;
  font-size: var(--h2-font-size);
}

.modal-link a {
  color: var(--first-color-alt);
  text-decoration: none;
}

.close-modal-btn {
  background-color: var(--first-color);
}

/*==================== REUSABLE CLASSES ====================*/

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.card {
  margin: 20px;
  width: 30%;
  height: fit-content;
  box-shadow: 2px 2px 10px rgb(189, 189, 189);
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card header {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #1f1f1f;
  color: var(--first-color);
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card p {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card img {
  width: 100%;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
}

/*==================== MOBILE RESPONSIVENESS ====================*/
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav h4 {
    margin-top: 15px;
  }

  .nav-links {
    width: 100%;
    margin: 20px;
  }

  .nav-links a {
    font-size: 14px;
  }

  figure {
    margin-top: 20px;
  }
  figure img {
    width: 500px;
    height: 500px;
  }

  .projects {
    margin: 25px;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer li {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  header {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    margin: 20px;
  }

  .nav-links a {
    font-size: 12px;
  }

  figure {
    margin-top: 10%;
  }

  figure img {
    width: 75%;
    height: 75%;
  }
}
